parameters:
  level: 9
  paths:
    - src/Encoders/Codabar.php
    - src/Encoders/Pharma.php
    - src/Encoders/UPC.php
    - src/Encoders/ITF.php
    - src/Encoders/Code39.php
    - src/Encoders/Code93.php
    - src/Encoders/Code128.php
    - src/Encoders/Code11.php
    - src/Encoders/Msi.php
    - src/Encoders/DMTX.php
    - src/Encoders/Qrcode.php
  excludePaths:
    - vendor
  ignoreErrors:
    - identifier: greaterOrEqual.alwaysTrue
    - identifier: booleanNot.alwaysFalse
    - identifier: booleanAnd.alwaysFalse
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
